.tabs-content data-tabs-content="answer-#{ answer.id }-tabs"
  = render 'answers/tabs/files_panel', answer: answer
  = render 'answers/tabs/links_panel', answer: answer
  = render 'answers/tabs/comments_panel', answer: answer
